/* font part */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@1,700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    ;
}



.container {
    background-color: #161616;
    width: 1321px;
    height: 646px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 50px 139px 0 390px;

}

.para-font {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
}

.first-title {
    font-weight: 700;
    font-size: 70px;
    width: 531px;
    height: 240px;
}

.side-arrow {
    margin-top: 14px;
    background-color: #DD0000;
    width: 160px;
    height: 56px;
    padding: 1px 25px 16px 25px;
    border-radius: 5px;
}

.icon-arrow {
    font-weight: 400;
    font-size: 20px;
}

.top-section {
    color: #FFFFFF;
    width: 531px;
    height: 424px;
    margin: 10px 24px 111px 106px;
    padding-top: 40px;

}


.image img {
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;
    margin-top: 33px;

}

/* small box */
.small-part-container {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-left: 390px;
    margin-top: 100px;


}

.box-container {
    margin: 30px;
    padding-top: 25px;
    margin-top: 0px;
}

.box-3 {
    margin: 17px 38px;
    padding-top: 15px;
    padding-left: 64px;
}

.box-2 {
    margin: 17px 38px;
    padding-top: 15px;
    padding-left: 38px;

}

.box-1 {
    margin: 17px 38px;
    padding-top: 15px;


}

#boo {
    color: #FFFFFF;
    text-decoration: none;
}

.small-box1 {
    background-color: #DD0000;
    color: #FFFFFF;
    width: 252px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

.small-box2,
.small-box3 {
    margin-top: 26px;
    width: 252px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;

}

/* otherpart */
.transform-part-container {
    background-color: white;
    width: 312px;
    height: 362px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
}

.smallbox {
    width: 100px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.transform-banner img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.art2 {
    width: 300px;
    height: 54px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.art {
    width: 67px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 14px;
    margin-top: 6px;
}

.fa-clock {
    color: gray;
    margin-left: 15px;
}

#cl {
    color: gray;
}

.rating {
    display: flex;
    justify-content: flex-start;
}

.big {
    margin-top: 100px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 26px;
}

.second-part {
    display: flex;
}

/* lastpart */
.foot {
    color: white;
    width: 2100px;
    height: 404px;
    background-color: #161616;
}

hr {

    width: 2100px;
    height: 0px;
    border: 1px solid rgba(219, 216, 216, 0.1);
}

.footers {
    width: 95px;
    height: 60px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-left: 950px;
    padding-top: 100px;

}

.footsider {
    font-weight: 500;
    font-size: 16px;
    color: rgb(177, 175, 175);

}

.foot .fig {
    display: flex;
    margin-left: 0px;
    justify-content: space-evenly;

}

/* new part  */
.flag {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.writing {
    padding-left: 53px;
}

.flag-container {
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;

}

.flag1.flag2 img {
    width: 93.04px;
    height: 56.18px;
}

.first-write {
    width: 202px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
}

.main-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 26px;
    margin-top: 100px;
    margin-left: 25px;
}

.sec-write {
    width: 166px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    color: #7a7a7a;
}